* {
  text-decoration-line: none;
}

.container {
  display: grid;
  grid-template-rows: min-content minmax(50ch, 1fr);
  gap: 0ch;

  outline-color: aqua;
}

.navBar {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(5ch, min-content));

  place-content: center;
  place-items: center;
  text-align: center;
  gap: 5ch;

  background-color: rgba(250, 0, 0, 0.6);
  color: black;
}

.themeContainer {
  display: grid;
  grid-template-columns: 3ch 3ch;

  gap: 0.5ch;
  place-self: end;
}

.link {
  transition: transform linear 0.2s;
}
.link:hover {
  transform: scale(1.1, 1.1);
}

.buttonLight {
  transition: transform ease-in-out 1s;
}

.buttonLight:hover {
  filter: brightness(90%);
}

.buttonDark {
  transition: transform ease-in-out 1s;
}

.buttonDark:hover {
  filter: brightness(200%);
}

@media only screen and (max-width: 560px) {
  .container {
    min-height: 100vh;
    display: grid;
    grid-template-rows: min-content minmax(50ch, 1fr);

    max-height: 100vh;
  }

  .navBar {
    font-size: 0.8rem;
    display: grid;
    grid-template-columns: repeat(auto-fit);
    place-content: center;
    gap: 2ch;
    background-color: rgba(250, 0, 0, 0.6);
  }

  .themeContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;

    gap: 0ch;
    place-self: end;
  }
}
